@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }



body{
    display: flex;
    align-items: center;
    flex-direction: column;
  font-family: 'Karla', sans-serif;
}

    .logo{
            background:pink;
            height:100px;
            width:200px;
            background:url(https://styrkin.s3-eu-west-1.amazonaws.com/public/logo_2.png);
            background:url(https://styrkin.s3-eu-west-1.amazonaws.com/public/logo-text-only_2.png);
      
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px;
    width: 200px;

          }

.slab{
  background:blue;
  background: #3b3b637a;
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
   max-width: 330px;
      text-align: center;
  color:white;
  -webkit-box-shadow: inset 0px 0px 25px 3px rgba(255,0,255,0.2);
-moz-box-shadow: inset 0px 0px 25px 3px rgba(255,0,255,0.2);
box-shadow: inset 0px 0px 25px 3px rgba(255,0,255,0.2);
      padding-bottom: 28px;
}

/* ///  TIMER  //*/

.timer { 
  display: flex;
  justify-content: center;
  align-items: center;
  //background: #EEE;
  margin-bottom: 15px;
}
.flip-clock {
  text-align: center;
  -webkit-perspective: 600px;
          perspective: 600px;
  margin: 0 auto;
}
.flip-clock *,
.flip-clock *:before,
.flip-clock *:after {
  box-sizing: border-box;
}
.flip-clock__piece {
  display: inline-block;
  margin: 0 0.2vw;
}
@media (min-width: 1000px) {
  .flip-clock__piece {
    margin: 0 5px;
  }
}
.flip-clock__slot {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  /*
  //position: relative;
  //top: -1.6em;
  z-index: 10;
  //color: #FFF;
*/
}
.flip-card {
  display: block;
  position: relative;
  padding-bottom: 0.72em;
  font-size: 2.25rem;
  line-height: 0.95;
}
@media (min-width: 1000px) {
  .flip-clock__slot {
    font-size: 16px;
  }
  .flip-card {
    font-size: 33px;
  }
}
/*////////////////////////////////////////*/
.flip-card__top,
.flip-card__bottom,
.flip-card__back-bottom,
.flip-card__back::before,
.flip-card__back::after {
  display: block;
  height: 0.72em;
  color: #ccc;
  background: #222;
  padding: 0.23em 0.25em 0.4em;
  border-radius: 0.15em 0.15em 0 0;
  backface-visiblity: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 1.8em;
}
.flip-card__bottom,
.flip-card__back-bottom {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: solid 1px #000;
  background: #393939;
  border-radius: 0 0 0.15em 0.15em;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}
.flip-card__back-bottom {
  z-index: 1;
}
.flip-card__bottom::after,
.flip-card__back-bottom::after {
  display: block;
  margin-top: -0.72em;
}
.flip-card__back::before,
.flip-card__bottom::after,
.flip-card__back-bottom::after {
  content: attr(data-value);
}
.flip-card__back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  pointer-events: none;
}
.flip-card__back::before {
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.flip .flip-card__back::before {
  z-index: 1;
  -webkit-animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
          animation: flipTop 0.3s cubic-bezier(0.37, 0.01, 0.94, 0.35);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.flip .flip-card__bottom {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
          animation: flipBottom 0.6s cubic-bezier(0.15, 0.45, 0.28, 1);
}
@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 2;
  }
  0%,
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 0;
  }
}
@keyframes flipTop {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 2;
  }
  0%,
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    opacity: 0;
  }
}
@-webkit-keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 5;
  }
}
@keyframes flipBottom {
  0%,
  50% {
    z-index: -1;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 5;
  }
}

input {
    padding: 4px 10px;
    font-size: 16px;
    width: 100%;
}

.cta{
  margin-top: 15px;
  background: green;
  font-size: 17px;
  padding: 11px 28px;
  
}


.cta {
  position: relative;
  display: block;
  float: none;
  color: white;
  border-radius: 10px;
  border: 2px solid #56616c;
  background: linear-gradient(#53a318, green);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.35);
  transition: all 0.2s ease;
  text-align: center;
  overflow: hidden;
}
.shiny-button:focus {
  outline: none;
}
.shiny-button:active {
  margin: 5px auto 0;
  transition: all 0.2s ease;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
}
.shiny-button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: 20px;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
          animation-timing-function: cubic-beizer(0.17, 0.79, 0.96, 0.25);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
@keyframes shine {
  0% {
    top: -100px;
    left: -280px;
  }
  100% {
    top: 100%;
    left: 100%;
  }
}
